Source: gsshvnc
Section: unknown
Priority: optional
Maintainer: coolshou <coolshou2060@gmail.com>
Build-Depends: debhelper-compat (= 13), libgtk-3-dev,
  gcc (>= 11.2) | gcc-11  (>= 11.2),
  libgtk-vnc-2.0-dev, libgvnc-1.0-dev,
  libgtkmm-3.0-dev , libsecret-1-dev,
  libssh-dev,
  ninja-build,
  meson
Standards-Version: 4.6.0
Homepage: https://github.com/zrax/gsshvnc.git
#Vcs-Browser: https://salsa.debian.org/debian/gsshvnc
#Vcs-Git: https://salsa.debian.org/debian/gsshvnc.git
Rules-Requires-Root: no

Package: gsshvnc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A simple VNC client with built-in SSH tunneling
 gsshvnc (pronounced "Gosh VNC") is designed to make your otherwise-insecure
 unencrypted VNC connections secure by making it as simple as possible to
 establish an SSH tunnel for the connection.
